---
http_interactions:
  - request:
      method: get
      uri: "<MHV_MR_HOST>/baseR4/DocumentReference?patient=2934296&type=18748-4"
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/fhir+json;charset=utf-8
        Last-Modified:
          - Fri, 19 May 2023 19:36:21 GMT
      body:
        encoding: UTF-8
        string: |-
          {
            "resourceType": "Bundle",
            "id": "b83f4608-daa2-41e5-8a7f-caab2da673b6",
            "meta": {
              "lastUpdated": "2023-05-19T19:36:21.409+00:00"
            },
            "type": "searchset",
            "total": 1,
            "link": [ {
              "relation": "self",
              "url": "https://hapi.fhir.org/baseR4/DocumentReference?patient=2934296&type=18748-4"
            } ],
            "entry": [ {
              "fullUrl": "https://hapi.fhir.org/baseR4/DocumentReference/2934300",
              "resource": {
                "resourceType": "DocumentReference",
                "id": "2934300",
                "meta": {
                  "versionId": "2",
                  "lastUpdated": "2022-05-06T13:37:02.973+00:00",
                  "source": "#Xb3Y50gF7LGUVsSL"
                },
                "contained": [ {
                  "resourceType": "Organization",
                  "id": "1",
                  "identifier": [ {
                    "use": "usual",
                    "type": {
                      "coding": [ {
                        "system": "http://terminology.hl7.org/CodeSystem/organization-type",
                        "code": "dept",
                        "display": "Hospital Department"
                      } ]
                    },
                    "system": "urn:local:identifier",
                    "value": "RX"
                  } ],
                  "name": "Medische beeldvorming"
                }, {
                  "resourceType": "Encounter",
                  "id": "2",
                  "identifier": [ {
                    "value": "4495960609"
                  } ],
                  "status": "finished",
                  "class": {
                    "system": "http://terminology.hl7.org/CodeSystem/v3-ActCode",
                    "code": "IMP"
                  },
                  "subject": {
                    "reference": "Patient/2934296",
                    "display": "TEST TEST"
                  },
                  "basedOn": [ {
                    "reference": "#3"
                  } ],
                  "period": {
                    "start": "2022-03-31T13:43:00+02:00",
                    "end": "2022-04-05T16:35:00+02:00"
                  }
                }, {
                  "resourceType": "ServiceRequest",
                  "id": "3",
                  "status": "active",
                  "intent": "proposal",
                  "subject": {
                    "reference": "Patient/2934296"
                  }
                }, {
                  "resourceType": "Practitioner",
                  "id": "4",
                  "identifier": [ {
                    "system": "https://www.ehealth.fgov.be/standards/fhir/NamingSystem/nihdi",
                    "value": "137526"
                  } ],
                  "name": [ {
                    "family": "Dr. Test",
                    "given": [ "Test" ]
                  } ]
                }, {
                  "resourceType": "Organization",
                  "id": "5",
                  "identifier": [ {
                    "use": "usual",
                    "type": {
                      "coding": [ {
                        "system": "http://terminology.hl7.org/CodeSystem/organization-type",
                        "code": "dept",
                        "display": "Hospital Department"
                      } ]
            [...]
