---
http_interactions:
- request:
    method: put
    uri: https://sandbox-api.va.gov/services/direct-deposit-management/v1/direct-deposit?icn=1012666073V986297
    body:
      encoding: UTF-8
      string: '{"paymentAccount":{"accountNumber":"12345678","accountType":"CHECKING","financialInstitutionRoutingNumber":"021000021"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Ratelimit-Reset:
      - '60'
      X-Ratelimit-Limit-Minute:
      - '60'
      X-Ratelimit-Remaining-Minute:
      - '59'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Www-Authenticate:
      - Bearer
    body:
      encoding: UTF-8
      string: "{ \n  \"status\": 401,\n  \"error\": \"Invalid token.\",\n  \"path\":
        \"/direct-deposit-management/v1/direct-deposit\"\n}\n"
  recorded_at: Mon, 08 May 2023 16:44:01 GMT
recorded_with: VCR 6.1.0
